body{
    margin: 0;
    padding: 0;
}
header{
    width: 100;
    height: 100px;
    text-align: center;
    background-color:  blanchedalmond;    
}
header img{
    width: 10px;
    width: 170px;
    border: solid black;    
}
#banner-landing{
    width: 100%;
    height: 350px;
    border: solid red;
    text-align: center;
    background: rgb(2,214,208);
    background: linear-gradient(90deg, rgba(2,214,208,1) 1%, rgba(195,233,239,1) 5%,  rgba(10,189,223,1) 28%, rgba(236,243,243,1) 39%, rgba(64,139,118,1) 49%, rgba(9,231,120,1) 60%, rgba(202,222,218,1) 68%, rgba(9,141,176,1) 75%, rgba(202,222,218,1) 83%,  rgba(202,222,218,1) 96%, rgba(0,212,255,1) 100%);
}
#banner-landing img{
    width: 420px;
}
#contenedor-titulo{
    width: 100%;
    height: 60px;
    text-align: center;
    border: solid black;    
}
#contenedor-titulo h1{
    width: 100%;
    height: 55px;
    margin: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;    
    background: rgb(2,214,208);
    background: linear-gradient(90deg, rgba(10,189,223,1) 23%, rgba(64,139,118,1) 39%, rgba(9,231,120,1) 51%, rgba(9,133,189,1) 74%,  rgba(0,212,255,1) 100%);
}
#contenedor-tarjetas{
    width: 100%;
    text-align: center;
    padding: 20px 10px;     
}
.tarjeta{
    width: 370px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
.tarjeta img{
    width: 370px;
    border-radius: 10px 10px 0px 0px;
}
.tarjeta h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 3px;
    text-align: left;
    background-color: red;   
}
.tarjeta h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 3px;
    text-align: left;
}
.tarjeta button{
    margin: 10px 0px;
    margin-bottom: 15px;
}
#contenedor-formulario{
    padding: 10px 0px 80px 0px;
    text-align: center;
}
.formulario-contacto{
    width: 500px;
    padding: 80px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,25,1);
    border-radius: 10px;
    text-align: left;
}
